/Algoritmos/SequenciasBasicas/locadoradecarros/target/
/Algoritmos/SequenciasBasicas/salariomensal/target/
/Algoritmos/SequenciasBasicas/espectativadevida/target/
/Algoritmos/CondicoesBasicas/multaporvelocidade/target/
/Algoritmos/CondicoesBasicas/elegivelparavotar/target/
/Algoritmos/CondicoesBasicas/calculomediaescolar/target/
/Algoritmos/CondicoesBasicas/parouimpar/target/
/Algoritmos/CondicoesBasicas/anobissexto/target/
/Algoritmos/CondicoesBasicas/alistamento/target/
/Java/Basico/calculadoraIdade/target/
/AnoBissexto/target/
/Algoritmos/CondicoesBasicas/promocao/target/
